@model cumulative_Jerad_Beauregard.Models.Course

<h1>@Model.CourseName</h1>
<p>Course Code: @Model.CourseCode</p>
<p>Start Date: @Model.StartDate.ToString("yyyy-M-d")</p>
<p>Finish Date: @Model.FinishDate.ToString("yyyy-M-d")</p>
<p>Teacher ID: @Model.TeacherId</p>

<div><a href="/CoursePage/Edit/@Model.CourseId">Edit This Course</a></div>
<div><a href="/CoursePage/DeleteConfirm/@Model.CourseId">Delete This Course</a></div>
<div><a href="/CoursePage/Lists">Return to Courses list</a></div>